.button{
  font-size: 1.4rem;
  background: #EDEDED;
  border-radius: 50%;

  padding: 0.6rem;

  position: fixed;
  top: 1.8rem;
  left: 8rem;


  @media screen and (max-width: 1000px){
    left: 1.5rem;
  }
}