.home{
  background: #FFFFFF;

  .content{
      padding: 2rem 2rem 8.3rem;
  }

  .title{
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.3rem;
    color: rgb(52, 52, 52);

    margin-bottom: 4rem;

  }
  .text{
    font-size: 1.5rem;
    line-height: 2.3rem;
    color: rgb(52, 52, 52);
    font-weight: 500;
  }

  .list{
    display: flex;
    column-gap: 4rem;

    margin: 1.5rem 0 1.4rem;

    .item{
      position: relative;
      font-weight: 600;
      line-height: 1rem;

      color: rgb(102, 102, 102);

      cursor: pointer;


      transition: all .25s;
      &:before{
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;

        width: 0;

        border-bottom: 2px solid rgb(52, 52, 52);
        border-radius: 100px;

        transform: translateX(-50%);
        transition: all .3s;
        border-bottom: 3px solid rgb(52, 52, 52);

      }
      &:hover{
        color: rgb(52, 52, 52);
        transform: translateY(-2px);
      }

      &_active{
        color: rgb(52, 52, 52);

          &:before{
            bottom: -5px;
            width: 35px;
            border-bottom: 2.39px solid rgb(52, 52, 52);
          }
      }
    }
  }

  .cards{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

  }

  .image{
    object-fit: cover;
    width: 100%;

  }
  .card{
    width: calc(25% - 0.8rem);
    position: relative;
    &__block{
      position: absolute;
      bottom: 1rem;
      left: 1rem;
      color: rgb(255, 255, 255);
    }
    &__title{
      font-weight: 500;
      font-size: 1.2rem;
      line-height: 1.9rem;
    }

    &__author{
      font-weight: 400;
      font-size: 0.8rem;
      line-height: 1.1rem;

      margin: 0.3rem 0 0.5rem;
    }
    &__bottom{
      display: flex;
      align-items: center;
      column-gap: 0.2rem;
    }

    &__icon{
      font-size: 1.3rem;
      cursor: pointer;
    }

  }
}