.profile{
  padding: 2rem;
  text-align: center;

  .subtitle{
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.3rem;

    text-align: left;

    margin: 1.2rem 0 0.25rem;

    color: rgb(102, 102, 102);
  }

  .button{
    background: rgb(250, 158, 49);
    color: rgb(250, 250, 250);

    outline: none;
    border: none;
    border-radius: 2.5rem;

    font-weight: 500;
    line-height: 1.5rem;

    padding: 16px;

    width: 100%;
    max-width: 32rem;

    margin-top: 2.5rem;
    &:disabled{
      background: rgb(138, 138, 138);
    }
    &:hover{
      color: rgb(250, 158, 49);
      background: transparent;
      border: 1px solid rgb(250, 158, 49);
    }
  }

  .block{
    margin-top: 1.3rem;
  }

  .area{
    width: 100%;

    border: none;
    outline: none;
    border-radius: 20px;

    background: rgb(237, 237, 237);

    padding: 1.5rem;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;

    &::placeholder{
      color: rgb(138, 138, 138)
    }


  }

  .error{
    width: 100%;
    color: red;
    font-size: 0.8rem;
    position: absolute;
    bottom: -3rem;
    right: 20%;
    transform: translateX(-30%);
    z-index: 30;
  }

  .close{
    position: absolute;
    top: 2rem;
    right: 2.2rem;

    font-size: 2.1rem;

    cursor: pointer;

    &:hover{
      transform: scale(107%);
    }
  }


}