.profile{

  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 3.5rem 2rem 8.3rem;
  }

  .content{
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;


    column-gap: 0.7rem;

    &__info{
      text-align: center;
      width: 35.18rem;
      padding: 0 2.5rem;
    }
  }


  .image{
    width: 200px;
    height: 200px;

    object-fit: cover;
    border-radius: 50%;
  }

  .name{
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.75rem;

    margin: 1rem 0 0.35rem;
  }

  .info{
    display: flex;
    justify-content: center;
    column-gap: 1.1rem;

    &__text{
      color: rgb(102, 102, 102);

    }
    &__count{
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1.75rem;
    }

  }
  .text{
    font-weight: 400;
    line-height: 1.5rem;

    color: rgb(102, 102, 102);
    margin-bottom: 1.2rem;

  }

  .btn{
    width: 100%;

    background: rgb(255, 246, 222);
    border-radius: 10px;
    color: rgb(250, 158, 49);

    font-weight: 500;
    line-height: 1.1rem;

    border: none;
    outline: none;

    padding: 19px 0;
    &:hover{
      background: rgb(250, 158, 49);
      color: #FFFFFF;
    }
  }

  .cards{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    margin-top: 2rem;
  }


  .category{
    display: flex;
    justify-content: space-between;
    margin-top: 2.2rem;

    &__text{
      font-weight: 500;
      font-size: 1.1rem;
      line-height: 1.5rem;

      color: rgb(138, 138, 138);

      cursor: pointer;
      transition: all 0.1s;
      &:hover{
        transform: scale(101%);
      }
      &_active{
        color: rgb(52, 52, 52);
      }
    }
  }
}

.modal{
  max-width: 544px;
}

